Tugas 5_RAG_MuhamadSayyidFadhil_AFB2.json
{
  "name": "Tugas 5_RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16XI8HDSfQh1fB6skYsZU9kGLyteTfz94",
          "mode": "list",
          "cachedResultName": "AI-NFA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16XI8HDSfQh1fB6skYsZU9kGLyteTfz94"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "386ffa61-160f-4bec-bbe7-cc8e85a6dbd1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fzwKJhMejJp7ZQAh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b36530e5-64bc-4951-8b02-82b7d197bb7e",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        424,
        0
      ],
      "id": "fd68b708-9abf-4c1a-8912-e552d2e8301e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        0
      ],
      "id": "e0417d88-40ca-44c1-a7a4-d6e779cb7b25",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fzwKJhMejJp7ZQAh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1072,
        0
      ],
      "id": "aa2b6c34-e3df-44c0-b1bc-fc81c51ffe95",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1328,
        0
      ],
      "id": "b5fef772-0a95-47bf-a946-843ac1f55553",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "PldAthnt9iGXeJG1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        224
      ],
      "id": "e22afb92-5b9a-47c9-85ed-50c7082a1747",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aeVRDEIvEonYn6y6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=id",
                "value": "={{ $('Edit Fields').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1424,
        224
      ],
      "id": "b8983e49-caa4-4e81-afb2-d6ac08277cf4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1504,
        432
      ],
      "id": "ac4991ac-7a2d-4e15-96a7-a2a68bcef0e3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hallo, ada yang bisa kami bantu?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        304
      ],
      "id": "ee3218a7-1994-460b-bd70-61ac71ed96b1",
      "name": "When chat message received",
      "webhookId": "8e0696a1-d3a5-43dd-ba39-f793929f5792"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu asisten penulisan ilmiah tugas akhir\natau skripsi.\n\nKamu dapat menjawab dengan mengacu\ninformasi yang tersedia di data vektor pada\nTool \"Supabase Vector Store. Store.”\n\nJika informasi tidak tersedia di Tool itu,\njawablah \"Mohon maaf, saya belum dapat\nmemberikan jawaban.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        280,
        296
      ],
      "id": "29bf1ee5-bb52-4035-b906-d68940dbaf0b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        224,
        520
      ],
      "id": "70cc98ca-261f-4ace-9065-f40e8ebf8c39",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "R9O2PDfXybGGtJR9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool ini untuk menjawab pertanyaan tentang penulisan ilmiah mahasiswa STT-NF.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        520
      ],
      "id": "d9b65d64-3732-42a3-9e4c-03b47ed7122f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "PldAthnt9iGXeJG1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        352,
        520
      ],
      "id": "665e2c06-8e88-4dbb-adc8-0fd1da08b2e9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lkolxxYgXhOMWSSN",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "454b0471-8812-422f-865f-ba273f0537da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4b329f8504c17c146c54c44e84070c8ca1bc420cee0814212157ca02a718cd6"
  },
  "id": "7HsWhATFkbypn8CG",
  "tags": []
}